<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataSource" value="SCHOEDINGER\SQLEXPRESS" />
    <add key="Username" value="Mosaka85" />
    <add key="Password" value="MiaraBlueM0$@K@85!" />
    <add key="InitialCatalog" value="TL_Peppadew" />
  </appSettings>
</configuration>